@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
body {
    background-image: url(../images/cloud1.jpg);
    font: 14px Arial;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
#div1{ 
    background:white;
    width: 1000px;
    border: solid 1px gray;
    left: 188px;
    position: absolute; 
}
#header{
    height: 200px;
    width: 1000px;
    border: solid 1px gray;

}
#daohang{
    font-family: "华文隶书";
    background: #39F;
    height: 40px;
    width: 1000px;
    border: solid 1px gray;
}
ul{
        list-style: none;
    }

#daohang>ul>li{
        font-size: 20px;
        text-align: center;
        line-height: 33px;
        float: left;
        margin: 5px;
        margin-left: 130px;
}
#daohang>ul>li>a{
    text-decoration: none;
}
#conter{
    height: 500px;
    width: 1000px;
    border: solid 1px gray;
}
#photo{
    position: relative;
    left: 30px;
    top: 95px;
    float: left;
    height: 300px;
    width: 320px;
}
#zl{
    position: relative;
    top: 30px;
    float: left;
}
#zl>p{
    line-height: 70px;
    margin-left: 120px;
    font-family: "朵功";
    font-size:28px;
}
#footer{
    background: #39F;
    height: 40px;
    width: 1000px;
    border: solid 1px gray;
}
#tip{
        position: absolute;
        border-style: solid; 
        border-width: 1px 1px 1px 1px;

    }
    #footer>p{
        font-family: "朵功";
         font-size:25px;
         text-align: center;
         margin-top: 5px;
    }